.cartpage{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 300px);
    padding: 25px 5px;
    display: flex;
}

.cartleft{
    flex: 2;
    padding: 10px;
    height: 100%;
}

.cartitems{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5px 20px;
}

.cartitems thead tr{
    border-bottom: 1px solid #d9d9d9;
}
.cartitems tbody tr{
    border-bottom: 1px solid #d9d9d9;
}

.cartitems tbody tr td{
    text-align: center;
}
  
.cartright{
    flex: 1;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.checkoutbox{
    max-width: 400px;
    min-height: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutheading{
    font-size: 25px;
    letter-spacing: 1.1px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
}

.checkoutdetails{
    width: 100%;
    padding: 10px 0;
}

.detail{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #fff;
    margin-bottom: 10px;
}

.checkoutbtn{
    width: 150px;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: orangered;
    font-size: 15px;
    margin: 10px 0;
}

.paymentbtns{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.doorpaybtn{
    width: 200px;
    height: 35px;
    background-color: #f7f7f7;
    color: teal;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    align-self: center;
}
.doorpaybtn:hover{
    background-color: #d9d9d9;
}

.modaloverlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #33333335;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalbody{
    max-width: 650px;
    width: 100%;
    background-color: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    color: #333;
}

.modalbody h3{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.inputs{
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.inputs label{
    font-size: 16.5px;
    margin-bottom: 10px;
}

.inputs input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 15px;
    border: 1px solid #d9d9d9;
}

.inputs textarea{
    width: 100%;
    height: 235px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #d9d9d9;
    resize: none;
}

.cashbtns{
    width: 100%;
    display: flex;
    padding: 15px;
}

.confirmbtn{
    width: 150px;
    height: 35px;
    background-color: teal;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.cancelbtn{
    width: 125px;
    height: 35px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .cartpage{
        flex-direction: column;
    }
}